@import '../../styles/variables.scss';


.detailcontainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    .detail{
        display: flex;
        width: 80vw;
        &__productImage{
            min-width: 60%;
            margin-right: 40px;
            img{
                width: 100%;
            }
        }
        &__title{
            color: $blanco;
            font-size: 54px;
            line-height: 71px;
            font-weight: normal;
            margin: 0px;
            margin-bottom: 40px;
        }
        &__category{
            color: $color-primario;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: normal;
        }
        &__pricecontainer{
            display: flex;
            margin: 10px 0px;
        }
        &__price {
            color: $color-primario;
            font-weight: bold;
            font-size: 27px;
            text-align: center;
            margin-left: 15px;
          }
          &__normalPrice {
            text-align: center;
            color: $color-claro;
            font-size: 25px;
            text-decoration: line-through;
          }
          &__description{
              color: $blanco;
              font-size: 17px;
              line-height: 30px;
              font-weight: normal;
              margin-top: 60px;
          }
    }
}