@import '../../styles/variables.scss';

.saludoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__titulo{
        color: $blanco;
        font-family: $font;
        font-size: 62px;
        text-align: center;
        span{
            border-bottom: 2px solid $color-primario;
        }
    }
}