
// colores 

$background: #11151C;
$color-oscuro:#212D40;
$color-claro: #F7F7FF;
$color-primario:#D66853;
$color-realce: #2CA58D;

// tipografia

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$font:lato;