@import '../../styles/variables.scss';

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    .navbar{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__logo{
            width: 150px;
        }
        &__menuContainer{
            display: flex;
        }
        &__menu{
            display: flex;
            li{
                padding: 10px 30px;
                text-decoration: none;
                list-style: none;
                color: $blanco;
                a{
                    text-decoration: none;
                    color: $blanco;
                    font-family: $font;
                    border-bottom: 2px solid transparent;
    
                }
                a:hover{
                    font-weight: 700;
                    border-bottom: 2px solid $color-primario;
                }
            }
        }
    }
}