@import "../../styles/variables.scss";

.itemCount {
  display: flex;
  align-items: center;
  width: auto;
  margin-top: 20px;
  .count {
    display: flex;
    &__input {
      width: 100px;
      height: 60px;
      border: none;
      font-size: 22px;
      background: $blanco;
      color: $color-primario;
      text-align: center;
      font-weight: bold;
      border-radius: 3px;
      outline: none;
      margin-right: 10px;
      &:active,
      &:focus {
        border: 1px solid $color-primario;
      }
    }
    &__buttoncontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
    }
    &__button {
      border: none;
      padding: 0;
      font-size: 22px;
      background: $color-primario;
      color: $blanco;
      margin: 0;
      width: 60px;
      height: 49%;
      cursor: pointer;
      &:first-child {
        margin-bottom: 3px;
      }
      &:hover {
        background: $color-realce;
      }
    }
  }
  .addCart{
      display: flex;
      &__buttonCart{
        background: $color-realce;
        height: 60px;
        width: 160px;
        border: none;
        border-radius: 5px;
        color: $blanco;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
        &:hover{
            opacity: 90%;
        }

      }
      &__buttonAdd{
          background: $color-primario;
          height: 60px;
          width: 160px;
          border: none;
          border-radius: 5px;
          color: $blanco;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 17px;
          cursor: pointer;
          &:hover{
            opacity: 90%;
        }
      }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
